In [1]:
import cassandra

In [3]:
from cassandra.cluster import Cluster 
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [4]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [5]:
query = "CREATE TABLE IF NOT EXISTS music_library2(year int, city text,artist_name text,album_name text "
query = query + ",PRIMARY KEY(artist_name, year))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
query = "INSERT INTO music_library2 (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [7]:
query = "select * from music_library2 where artist_name = 'The Beatles' "
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name, row.city)

1965 The Beatles Rubber Soul Oxford
1970 The Beatles Let it Be Liverpool

In [8]:
query = "DROP TABLE IF EXISTS music_library2"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [9]:
session.shutdown()
cluster.shutdown()

In [10]:
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [11]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)