In [1]:
from pyspark import SparkContext, SparkConf
#/Users/RahulReddy/Downloads/sample_table.csv
config = SparkConf().setAppName('datawrangling').setMaster('local[2]')
sc

In [9]:
ini = sc.textFile

#.('/Users/RahulReddy/Downloads/sample_table.csv')

In [5]:
test123 = spark.read.csv('/Users/RahulReddy/Downloads/appstore_games.csv',header=True)

In [7]:
test123.columns

['URL',
 'ID',
 'Name',
 'Subtitle',
 'Icon URL',
 'Average User Rating',
 'User Rating Count',
 'Price',
 'In-app Purchases',
 'Description',
 'Developer',
 'Age Rating',
 'Languages',
 'Size',
 'Primary Genre',
 'Genres',
 'Original Release Date',
 'Current Version Release Date']

In [9]:
test123.rdd.getNumPartitions()

4

In [21]:
test = test.repartition(4)

In [18]:
test.rdd.getNumPartitions()

1

In [ ]:
test.select('timestamp').collect()

In [17]:
#from pyspark.sql.functions import desc 
#test123.groupBy('Name').count().sort(desc('count')).collect()
test123.rdd.getNumPartitions()

4

In [32]:
#test123.select('Genres').dropDuplicates().collect()
test123.cache()

DataFrame[URL: string, ID: string, Name: string, Subtitle: string, Icon URL: string, Average User Rating: string, User Rating Count: string, Price: string, In-app Purchases: string, Description: string, Developer: string, Age Rating: string, Languages: string, Size: string, Primary Genre: string, Genres: string, Original Release Date: string, Current Version Release Date: string]

In [28]:
test123.count()

17007

In [33]:
test123.select('ID').dropDuplicates().collect()

[Row(ID='305324342'),
 Row(ID='335249553'),
 Row(ID='396837225'),
 Row(ID='409909263'),
 Row(ID='442863029'),
 Row(ID='453345888'),
 Row(ID='459523211'),
 Row(ID='512958666'),
 Row(ID='517860442'),
 Row(ID='522064154'),
 Row(ID='552864302'),
 Row(ID='580039150'),
 Row(ID='594730590'),
 Row(ID='629026958'),
 Row(ID='655593474'),
 Row(ID='718255797'),
 Row(ID='721913689'),
 Row(ID='750276884'),
 Row(ID='765490798'),
 Row(ID='805510964'),
 Row(ID='880222930'),
 Row(ID='880979727'),
 Row(ID='882329317'),
 Row(ID='888186954'),
 Row(ID='891959606'),
 Row(ID='923719099'),
 Row(ID='926099303'),
 Row(ID='949198480'),
 Row(ID='962184200'),
 Row(ID='962335083'),
 Row(ID='973507903'),
 Row(ID='987475925'),
 Row(ID='996869737'),
 Row(ID='997241537'),
 Row(ID='1001461352'),
 Row(ID='1017304607'),
 Row(ID='1024953838'),
 Row(ID='1027262257'),
 Row(ID='1031569021'),
 Row(ID='1033049465'),
 Row(ID='1039982935'),
 Row(ID='1047464336'),
 Row(ID='1052539296'),
 Row(ID='1064051044'),
 Row(ID='1065863208'),
 Row(ID='1072421639'),
 Row(ID='1081824155'),
 Row(ID='1103177988'),
 Row(ID='1117826574'),
 Row(ID='1127715071'),
 Row(ID='1129237429'),
 Row(ID='1144440507'),
 Row(ID='1147952108'),
 Row(ID='1152589567'),
 Row(ID='1163686651'),
 Row(ID='1163730902'),
 Row(ID='1168445738'),
 Row(ID='1172355449'),
 Row(ID='1176384641'),
 Row(ID='1181187097'),
 Row(ID='1227381017'),
 Row(ID='1227986698'),
 Row(ID='1232104062'),
 Row(ID='1238141350'),
 Row(ID='1242188429'),
 Row(ID='1244505489'),
 Row(ID='1251477667'),
 Row(ID='1252711875'),
 Row(ID='1263379695'),
 Row(ID='1287353628'),
 Row(ID='1351124182'),
 Row(ID='1363901401'),
 Row(ID='1390374899'),
 Row(ID='1403763343'),
 Row(ID='1410847565'),
 Row(ID='1432508129'),
 Row(ID='1435439801'),
 Row(ID='1435569027'),
 Row(ID='1439434653'),
 Row(ID='1441100868'),
 Row(ID='1447354099'),
 Row(ID='1447610640'),
 Row(ID='1451077262'),
 Row(ID='1453255578'),
 Row(ID='1453287135'),
 Row(ID='1454630051'),
 Row(ID='1459381560'),
 Row(ID='300893278'),
 Row(ID='333453221'),
 Row(ID='364502845'),
 Row(ID='413107891'),
 Row(ID='467004002'),
 Row(ID='475047250'),
 Row(ID='498837126'),
 Row(ID='513228980'),
 Row(ID='528703935'),
 Row(ID='541409129'),
 Row(ID='541505559'),
 Row(ID='554431479'),
 Row(ID='563117064'),
 Row(ID='579761111'),
 Row(ID='688711876'),
 Row(ID='691967490'),
 Row(ID='700653440'),
 Row(ID='712286351'),
 Row(ID='734342362'),
 Row(ID='788460460'),
 Row(ID='791582363'),
 Row(ID='794672565'),
 Row(ID='835854795'),
 Row(ID='866817389'),
 Row(ID='885632169'),
 Row(ID='890897106'),
 Row(ID='904060374'),
 Row(ID='906440407'),
 Row(ID='922645913'),
 Row(ID='945299799'),
 Row(ID='948122460'),
 Row(ID='950603081'),
 Row(ID='955293592'),
 Row(ID='980977103'),
 Row(ID='985495255'),
 Row(ID='996727899'),
 Row(ID='999277175'),
 Row(ID='1021921402'),
 Row(ID='1038546375'),
 Row(ID='1055667908'),
 Row(ID='1057416982'),
 Row(ID='1071594082'),
 Row(ID='1076051866'),
 Row(ID='1078965934'),
 Row(ID='1094237215'),
 Row(ID='1099585655'),
 Row(ID='1114601264'),
 Row(ID='1131681158'),
 Row(ID='1144803545'),
 Row(ID='1162142456'),
 Row(ID='1166720868'),
 Row(ID='1186719068'),
 Row(ID='1190266356'),
 Row(ID='1201152224'),
 Row(ID='1207491844'),
 Row(ID='1234849699'),
 Row(ID='1235536470'),
 Row(ID='1259664290'),
 Row(ID='1264008924'),
 Row(ID='1274474150'),
 Row(ID='1279145879'),
 Row(ID='1286346671'),
 Row(ID='1303389751'),
 Row(ID='1316937847'),
 Row(ID='1320568184'),
 Row(ID='1322235629'),
 Row(ID='1343540434'),
 Row(ID='1377332371'),
 Row(ID='1401500785'),
 Row(ID='1409153116'),
 Row(ID='1415288607'),
 Row(ID='1436610539'),
 Row(ID='1439848060'),
 Row(ID='1441776432'),
 Row(ID='1443056885'),
 Row(ID='1453066077'),
 Row(ID='1454627218'),
 Row(ID='1455290147'),
 Row(ID='1459551651'),
 Row(ID='1459748365'),
 Row(ID='1474541937'),
 Row(ID='289382458'),
 Row(ID='303337299'),
 Row(ID='378161776'),
 Row(ID='386223177'),
 Row(ID='429000513'),
 Row(ID='460077581'),
 Row(ID='573901937'),
 Row(ID='575835825'),
 Row(ID='589478721'),
 Row(ID='669184059'),
 Row(ID='681144295'),
 Row(ID='694720066'),
 Row(ID='725222275'),
 Row(ID='743794616'),
 Row(ID='772875537'),
 Row(ID='794333202'),
 Row(ID='816615103'),
 Row(ID='872966939'),
 Row(ID='896892311'),
 Row(ID='902930515'),
 Row(ID='913440203'),
 Row(ID='924417201'),
 Row(ID='934298011'),
 Row(ID='935241858'),
 Row(ID='947911502'),
 Row(ID='948659446'),
 Row(ID='956379878'),
 Row(ID='966946904'),
 Row(ID='968633220'),
 Row(ID='982830747'),
 Row(ID='995339364'),
 Row(ID='1005103173'),
 Row(ID='1035252806'),
 Row(ID='1047862647'),
 Row(ID='1052552854'),
 Row(ID='1056866811'),
 Row(ID='1069608577'),
 Row(ID='1102007844'),
 Row(ID='1106088797'),
 Row(ID='1116670560'),
 Row(ID='1117373727'),
 Row(ID='1130687161'),
 Row(ID='1146369819'),
 Row(ID='1152094575'),
 Row(ID='1154395075'),
 Row(ID='1170364948'),
 Row(ID='1179987885'),
 Row(ID='1181465728'),
 Row(ID='1184838148'),
 Row(ID='1197355554'),
 Row(ID='1202857977'),
 Row(ID='1203339402'),
 Row(ID='1216686234'),
 Row(ID='1217894703'),
 Row(ID='1220438167'),
 Row(ID='1242215987'),
 Row(ID='1244001166'),
 Row(ID='1248033433'),
 Row(ID='1250617322'),
 Row(ID='1251249192'),
 Row(ID='1252877028'),
 Row(ID='1255453142'),
 Row(ID='1257662502'),
 Row(ID='1259385668'),
 Row(ID='1259431269'),
 Row(ID='1266317360'),
 Row(ID='1273678838'),
 Row(ID='1281329863'),
 Row(ID='1298579909'),
 Row(ID='1315583943'),
 Row(ID='1320568540'),
 Row(ID='1330800318'),
 Row(ID='1338700502'),
 Row(ID='1341837401'),
 Row(ID='1377282313'),
 Row(ID='1381156989'),
 Row(ID='1391498083'),
 Row(ID='1409735837'),
 Row(ID='1410296798'),
 Row(ID='1424486657'),
 Row(ID='1435116390'),
 Row(ID='1438292434'),
 Row(ID='1439174122'),
 Row(ID='1439352663'),
 Row(ID='1439913483'),
 Row(ID='1450310605'),
 Row(ID='1452072130'),
 Row(ID='1457836426'),
 Row(ID='1464737001'),
 Row(ID='1469722329'),
 Row(ID='1469907238'),
 Row(ID='1470054858'),
 Row(ID='309399343'),
 Row(ID='338348877'),
 Row(ID='483517253'),
 Row(ID='487572681'),
 Row(ID='522389317'),
 Row(ID='561553986'),
 Row(ID='562183957'),
 Row(ID='618018281'),
 Row(ID='626884809'),
 Row(ID='656966684'),
 Row(ID='690438799'),
 Row(ID='691987312'),
 Row(ID='703229647'),
 Row(ID='709369213'),
 Row(ID='721180637'),
 Row(ID='732544456'),
 Row(ID='733271597'),
 Row(ID='762257306'),
 Row(ID='796101901'),
 Row(ID='814922283'),
 Row(ID='816030657'),
 Row(ID='848883788'),
 Row(ID='880786305'),
 Row(ID='904225752'),
 Row(ID='905744689'),
 Row(ID='926678875'),
 Row(ID='933591061'),
 Row(ID='950922468'),
 Row(ID='967413146'),
 Row(ID='998311164'),
 Row(ID='1020688438'),
 Row(ID='1033048396'),
 Row(ID='1040788414'),
 Row(ID='1061005444'),
 Row(ID='1064064361'),
 Row(ID='1065554212'),
 Row(ID='1066479244'),
 Row(ID='1089015904'),
 Row(ID='1097114930'),
 Row(ID='1099812598'),
 Row(ID='1125173128'),
 Row(ID='1128983997'),
 Row(ID='1137965975'),
 Row(ID='1140995110'),
 Row(ID='1147452760'),
 Row(ID='1148269445'),
 Row(ID='1151406511'),
 Row(ID='1162466672'),
 Row(ID='1163631977'),
 Row(ID='1165153111'),
 Row(ID='1185654930'),
 Row(ID='1187463442'),
 Row(ID='1191075283'),
 Row(ID='1191086779'),
 Row(ID='1204025791'),
 Row(ID='1215144491'),
 Row(ID='1215237727'),
 Row(ID='1216249666'),
 Row(ID='1226803774'),
 Row(ID='1228142044'),
 Row(ID='1232577839'),
 Row(ID='1240124613'),
 Row(ID='1247286024'),
 Row(ID='1263787245'),
 Row(ID='1266118224'),
 Row(ID='1266646088'),
 Row(ID='1276310956'),
 Row(ID='1287373699'),
 Row(ID='1289525688'),
 Row(ID='1300003644'),
 Row(ID='1310131548'),
 Row(ID='1322421631'),
 Row(ID='1336443200'),
 Row(ID='1337708216'),
 Row(ID='1357018755'),
 Row(ID='1363058593'),
 Row(ID='1373573432'),
 Row(ID='1385590862'),
 Row(ID='1390983843'),
 Row(ID='1435692598'),
 Row(ID='1436315654'),
 Row(ID='1436568629'),
 Row(ID='1440099348'),
 Row(ID='1440605372'),
 Row(ID='1442816670'),
 Row(ID='1444846713'),
 Row(ID='1455605941'),
 Row(ID='1456587984'),
 Row(ID='1472850408'),
 Row(ID='307132353'),
 Row(ID='394633422'),
 Row(ID='470941542'),
 Row(ID='511244149'),
 Row(ID='522062562'),
 Row(ID='537973041'),
 Row(ID='557789893'),
 Row(ID='563718995'),
 Row(ID='596677177'),
 Row(ID='613890349'),
 Row(ID='661046478'),
 Row(ID='673294111'),
 Row(ID='685189356'),
 Row(ID='713841368'),
 Row(ID='842851934'),
 Row(ID='874423890'),
 Row(ID='875092179'),
 Row(ID='880424461'),
 Row(ID='883182317'),
 Row(ID='890825023'),
 Row(ID='899825833'),
 Row(ID='910329316'),
 Row(ID='911006986'),
 Row(ID='916528778'),
 Row(ID='924010506'),
 Row(ID='929709221'),
 Row(ID='932337035'),
 Row(ID='932500451'),
 Row(ID='963113662'),
 Row(ID='964731999'),
 Row(ID='980231070'),
 Row(ID='994541493'),
 Row(ID='1003722059'),
 Row(ID='1022952466'),
 Row(ID='1024972280'),
 Row(ID='1027359419'),
 Row(ID='1054850306'),
 Row(ID='1070965819'),
 Row(ID='1071454521'),
 Row(ID='1071714957'),
 Row(ID='1092878151'),
 Row(ID='1092962326'),
 Row(ID='1095831573'),
 Row(ID='1100295511'),
 Row(ID='1101126401'),
 Row(ID='1105351564'),
 Row(ID='1107499327'),
 Row(ID='1120739469'),
 Row(ID='1128370459'),
 Row(ID='1130991850'),
 Row(ID='1133729328'),
 Row(ID='1138916291'),
 Row(ID='1141498874'),
 Row(ID='1147459294'),
 Row(ID='1147780738'),
 Row(ID='1160223846'),
 Row(ID='1160349772'),
 Row(ID='1165398926'),
 Row(ID='1166478926'),
 Row(ID='1168088417'),
 Row(ID='1173394642'),
 Row(ID='1173695460'),
 Row(ID='1181041303'),
 Row(ID='1183768324'),
 Row(ID='1186125764'),
 Row(ID='1201287731'),
 Row(ID='1213538640'),
 Row(ID='1214913256'),
 Row(ID='1232149400'),
 Row(ID='1242873822'),
 Row(ID='1244628041'),
 Row(ID='1249992338'),
 Row(ID='1253498689'),
 Row(ID='1255466582'),
 Row(ID='1256490938'),
 Row(ID='1257967900'),
 Row(ID='1266645348'),
 Row(ID='1269035173'),
 Row(ID='1279673124'),
 Row(ID='1288744499'),
 Row(ID='1301858757'),
 Row(ID='1318736666'),
 Row(ID='1331930770'),
 Row(ID='1332465414'),
 Row(ID='1332605733'),
 Row(ID='1333129855'),
 Row(ID='1344486502'),
 Row(ID='1345297802'),
 Row(ID='1354479687'),
 Row(ID='1372662767'),
 Row(ID='1375561039'),
 Row(ID='1380347680'),
 Row(ID='1394119447'),
 Row(ID='1400485317'),
 Row(ID='1404711826'),
 Row(ID='1408493556'),
 Row(ID='1438977783'),
 Row(ID='1441271353'),
 Row(ID='1447063014'),
 Row(ID='1456236524'),
 Row(ID='1459216123'),
 Row(ID='364900027'),
 Row(ID='391294299'),
 Row(ID='391507083'),
 Row(ID='398133128'),
 Row(ID='399192982'),
 Row(ID='427965905'),
 Row(ID='432888433'),
 Row(ID='470420434'),
 Row(ID='506533991'),
 Row(ID='539633691'),
 Row(ID='676030326'),
 Row(ID='680096275'),
 Row(ID='682455707'),
 Row(ID='705357166'),
 Row(ID='737733151'),
 Row(ID='779435584'),
 Row(ID='783018888'),
 Row(ID='828850764'),
 Row(ID='837519886'),
 Row(ID='883693858'),
 Row(ID='889863693'),
 Row(ID='902291897'),
 Row(ID='904537325'),
 Row(ID='906630658'),
 Row(ID='907387028'),
 Row(ID='916599882'),
 Row(ID='922439528'),
 Row(ID='933651087'),
 Row(ID='967099322'),
 Row(ID='969838684'),
 Row(ID='994834260'),
 Row(ID='996313263'),
 Row(ID='1014299424'),
 Row(ID='1022718240'),
 Row(ID='1023748049'),
 Row(ID='1046735751'),
 Row(ID='1057762813'),
 Row(ID='1073489953'),
 Row(ID='1084460033'),
 Row(ID='1091375305'),
 Row(ID='1097889300'),
 Row(ID='1114601275'),
 Row(ID='1116775625'),
 Row(ID='1121416051'),
 Row(ID='1124756091'),
 Row(ID='1128644259'),
 Row(ID='1131630832'),
 Row(ID='1134608025'),
 Row(ID='1135250619'),
 Row(ID='1135399980'),
 Row(ID='1141748180'),
 Row(ID='1146274996'),
 Row(ID='1156215740'),
 Row(ID='1163172419'),
 Row(ID='1166443045'),
 Row(ID='1166549552'),
 Row(ID='1171666425'),
 Row(ID='1187636234'),
 Row(ID='1200310989'),
 Row(ID='1209570642'),
 Row(ID='1210909802'),
 Row(ID='1218137738'),
 Row(ID='1230397632'),
 Row(ID='1231396289'),
 Row(ID='1244305912'),
 Row(ID='1252001111'),
 Row(ID='1257116642'),
 Row(ID='1273440374'),
 Row(ID='1277138826'),
 Row(ID='1279224200'),
 Row(ID='1281566226'),
 Row(ID='1286990656'),
 Row(ID='1289115186'),
 Row(ID='1294435000'),
 Row(ID='1316029075'),
 Row(ID='1325935684'),
 Row(ID='1368701749'),
 Row(ID='1400638514'),
 Row(ID='1403354148'),
 Row(ID='1421011197'),
 Row(ID='1432032744'),
 Row(ID='1441521950'),
 Row(ID='1447193939'),
 Row(ID='1449570109'),
 Row(ID='1464774374'),
 Row(ID='1469749395'),
 Row(ID='407137912'),
 Row(ID='419424268'),
 Row(ID='454696687'),
 Row(ID='472562692'),
 Row(ID='535049654'),
 Row(ID='576246209'),
 Row(ID='655112644'),
 Row(ID='667901021'),
 Row(ID='678890930'),
 Row(ID='687733146'),
 Row(ID='688727113'),
 Row(ID='779327508'),
 Row(ID='866757983'),
 Row(ID='872528606'),
 Row(ID='875817087'),
 Row(ID='886293612'),
 Row(ID='894122546'),
 Row(ID='898694361'),
 Row(ID='901744305'),
 Row(ID='901864337'),
 Row(ID='917704350'),
 Row(ID='926748322'),
 Row(ID='943605164'),
 Row(ID='953746139'),
 Row(ID='955295568'),
 Row(ID='955306639'),
 Row(ID='960098053'),
 Row(ID='966810173'),
 Row(ID='986232808'),
 Row(ID='994068907'),
 Row(ID='1012348033'),
 Row(ID='1020122228'),
 Row(ID='1021971213'),
 Row(ID='1038510086'),
 Row(ID='1044290851'),
 Row(ID='1059005144'),
 Row(ID='1059380269'),
 Row(ID='1065834036'),
 Row(ID='1066099183'),
 Row(ID='1067241503'),
 Row(ID='1070491969'),
 Row(ID='1071127404'),
 Row(ID='1084958300'),
 Row(ID='1093722747'),
 Row(ID='1103186440'),
 Row(ID='1111474980'),
 Row(ID='1136118538'),
 Row(ID='1139239509'),
 Row(ID='1160045528'),
 Row(ID='1161322208'),
 Row(ID='1162606880'),
 Row(ID='1165012253'),
 Row(ID='1176418552'),
 Row(ID='1178967101'),
 Row(ID='1184817550'),
 Row(ID='1185383881'),
 Row(ID='1187777130'),
 Row(ID='1196128292'),
 Row(ID='1213293543'),
 Row(ID='1216614725'),
 Row(ID='1217794871'),
 Row(ID='1231812736'),
 Row(ID='1235364121'),
 Row(ID='1243490901'),
 Row(ID='1252237104'),
 Row(ID='1253273703'),
 Row(ID='1286288676'),
 Row(ID='1293861593'),
 Row(ID='1296588358'),
 Row(ID='1314741772'),
 Row(ID='1316473303'),
 Row(ID='1316863480'),
 Row(ID='1318827001'),
 Row(ID='1321264287'),
 Row(ID='1330261535'),
 Row(ID='1332288136'),
 Row(ID='1342364088'),
 Row(ID='1347054738'),
 Row(ID='1348153088'),
 Row(ID='1355473886'),
 Row(ID='1376434498'),
 Row(ID='1379005158'),
 Row(ID='1384472282'),
 Row(ID='1385903266'),
 Row(ID='1393956686'),
 Row(ID='1397303138'),
 Row(ID='1407577482'),
 Row(ID='1410042218'),
 Row(ID='1448391672'),
 Row(ID='1449023984'),
 Row(ID='1449204893'),
 Row(ID='1449436566'),
 Row(ID='1456389288'),
 Row(ID='1456477484'),
 Row(ID='1457317948'),
 Row(ID='1458681235'),
 Row(ID='1465450513'),
 Row(ID='310251116'),
 Row(ID='347996243'),
 Row(ID='366253054'),
 Row(ID='379824953'),
 Row(ID='407201718'),
 Row(ID='436691368'),
 Row(ID='522065666'),
 Row(ID='589367593'),
 Row(ID='590653100'),
 Row(ID='605798843'),
 Row(ID='687619655'),
 Row(ID='691206866'),
 Row(ID='718495353'),
 Row(ID='738516925'),
 Row(ID='760171454'),
 Row(ID='761961333'),
 Row(ID='799624006'),
 Row(ID='858088514'),
 Row(ID='892320294'),
 Row(ID='896251878'),
 Row(ID='910444489'),
 Row(ID='915535390'),
 Row(ID='916190049'),
 Row(ID='916605929'),
 Row(ID='937034826'),
 Row(ID='955994422'),
 Row(ID='962190050'),
 Row(ID='966425056'),
 Row(ID='967811602'),
 Row(ID='968139167'),
 Row(ID='986248234'),
 Row(ID='990783954'),
 Row(ID='994128222'),
 Row(ID='998153813'),
 Row(ID='1017311881'),
 Row(ID='1021198026'),
 Row(ID='1022522049'),
 Row(ID='1027558459'),
 Row(ID='1040809311'),
 Row(ID='1053723428'),
 Row(ID='1056573665'),
 Row(ID='1074097542'),
 Row(ID='1076268353'),
 Row(ID='1082931010'),
 Row(ID='1086241716'),
 Row(ID='1093441830'),
 Row(ID='1103088592'),
 Row(ID='1108509545'),
 Row(ID='1124937254'),
 Row(ID='1143061257'),
 Row(ID='1160711688'),
 Row(ID='1170747870'),
 Row(ID='1180474063'),
 Row(ID='1180480832'),
 Row(ID='1181296471'),
 Row(ID='1186181670'),
 Row(ID='1189480134'),
 Row(ID='1200317782'),
 Row(ID='1223441186'),
 Row(ID='1227367876'),
 Row(ID='1304969225'),
 Row(ID='1311292050'),
 Row(ID='1325256481'),
 Row(ID='1329296090'),
 Row(ID='1330147730'),
 Row(ID='1338714008'),
 Row(ID='1352713477'),
 Row(ID='1358300473'),
 Row(ID='1358548341'),
 Row(ID='1372484768'),
 Row(ID='1372651865'),
 Row(ID='1392863702'),
 Row(ID='1397053103'),
 Row(ID='1400991649'),
 Row(ID='1402760239'),
 Row(ID='1415296141'),
 Row(ID='1424924531'),
 Row(ID='1431623935'),
 Row(ID='1437813021'),
 Row(ID='1439663119'),
 Row(ID='1441267245'),
 Row(ID='1446708773'),
 Row(ID='1447841824'),
 Row(ID='1450137571'),
 Row(ID='1456131291'),
 Row(ID='1456575909'),
 Row(ID='1457900725'),
 Row(ID='1461735995'),
 Row(ID='1467481484'),
 Row(ID='1468012923'),
 Row(ID='1469690603'),
 Row(ID='1473580709'),
 Row(ID='391297152'),
 Row(ID='418603735'),
 Row(ID='489687640'),
 Row(ID='514588332'),
 Row(ID='522059729'),
 Row(ID='529707960'),
 Row(ID='559958986'),
 Row(ID='572128073'),
 Row(ID='656752654'),
 Row(ID='660144708'),
 Row(ID='674451695'),
 Row(ID='720707676'),
 Row(ID='723466734'),
 Row(ID='737478460'),
 Row(ID='740235254'),
 Row(ID='771796783'),
 Row(ID='790246884'),
 Row(ID='816221266'),
 Row(ID='822324885'),
 Row(ID='825856722'),
 Row(ID='847609478'),
 Row(ID='852203641'),
 Row(ID='881332992'),
 Row(ID='883956132'),
 Row(ID='910075145'),
 Row(ID='960819508'),
 Row(ID='965136770'),
 Row(ID='976959709'),
 Row(ID='989213495'),
 Row(ID='999810006'),
 Row(ID='1031799942'),
 Row(ID='1039350584'),
 Row(ID='1070103675'),
 Row(ID='1072917825'),
 Row(ID='1097351458'),
 Row(ID='1099305326'),
 Row(ID='1106851434'),
 Row(ID='1114614971'),
 Row(ID='1118828756'),
 Row(ID='1122000143'),
 Row(ID='1133680196'),
 Row(ID='1135188984'),
 Row(ID='1137546873'),
 Row(ID='1144090055'),
 Row(ID='1173291939'),
 Row(ID='1200934446'),
 Row(ID='1202504402'),
 Row(ID='1207929079'),
 Row(ID='1220354063'),
 Row(ID='1243293627'),
 Row(ID='1264531625'),
 Row(ID='1286329483'),
 Row(ID='1324887522'),
 Row(ID='1327794778'),
 Row(ID='1338447335'),
 Row(ID='1358047255'),
 Row(ID='1361132034'),
 Row(ID='1363791988'),
 Row(ID='1370352282'),
 Row(ID='1382669298'),
 Row(ID='1386289278'),
 Row(ID='1392125815'),
 Row(ID='1441397445'),
 Row(ID='1450882533'),
 Row(ID='1453478622'),
 Row(ID='1469316065'),
 Row(ID='1469660407'),
 Row(ID='331538702'),
 Row(ID='372918687'),
 Row(ID='408302797'),
 Row(ID='455534710'),
 Row(ID='463439015'),
 Row(ID='463996372'),
 Row(ID='480887001'),
 Row(ID='499635050'),
 Row(ID='516497933'),
 Row(ID='543137173'),
 Row(ID='552706580'),
 Row(ID='558796310'),
 Row(ID='586585416'),
 Row(ID='642712838'),
 Row(ID='647176289'),
 Row(ID='683000610'),
 Row(ID='733449664'),
 Row(ID='734502487'),
 Row(ID='775273884'),
 Row(ID='803945030'),
 Row(ID='821396522'),
 Row(ID='851901664'),
 Row(ID='865479146'),
 Row(ID='878922917'),
 Row(ID='884940002'),
 Row(ID='891103545'),
 Row(ID='895461170'),
 Row(ID='904997501'),
 Row(ID='909540720'),
 Row(ID='910466789'),
 Row(ID='913426695'),
 Row(ID='917532804'),
 Row(ID='951343823'),
 Row(ID='961079869'),
 Row(ID='988252754'),
 Row(ID='1010582800'),
 Row(ID='1019146769'),
 Row(ID='1045449089'),
 Row(ID='1066765982'),
 Row(ID='1075897841'),
 Row(ID='1078231738'),
 Row(ID='1079804119'),
 Row(ID='1101126159'),
 Row(ID='1120294590'),
 Row(ID='1123583844'),
 Row(ID='1130325191'),
 Row(ID='1135188992'),
 Row(ID='1143720013'),
 Row(ID='1151307421'),
 Row(ID='1152483247'),
 Row(ID='1168352316'),
 Row(ID='1173816290'),
 Row(ID='1186263817'),
 Row(ID='1213056442'),
 Row(ID='1216569602'),
 Row(ID='1220877379'),
 Row(ID='1241482524'),
 Row(ID='1241625625'),
 Row(ID='1253599497'),
 Row(ID='1264975902'),
 Row(ID='1270993668'),
 Row(ID='1291400078'),
 Row(ID='1291717640'),
 Row(ID='1292815914'),
 Row(ID='1331763236'),
 Row(ID='1338202296'),
 Row(ID='1350077533'),
 Row(ID='1351247251'),
 Row(ID='1370346970'),
 Row(ID='1375565376'),
 Row(ID='1390465471'),
 Row(ID='1400273398'),
 Row(ID='1400922277'),
 Row(ID='1404130298'),
 Row(ID='1435472521'),
 Row(ID='1439723311'),
 Row(ID='1450484898'),
 Row(ID='1453347272'),
 Row(ID='1462886536'),
 Row(ID='1467088271'),
 Row(ID='1470164803'),
 Row(ID='308032437'),
 Row(ID='335545504'),
 Row(ID='417725235'),
 Row(ID='419568487'),
 Row(ID='440480260'),
 Row(ID='483064629'),
 Row(ID='553746023'),
 Row(ID='555644026'),
 Row(ID='611674395'),
 Row(ID='642184656'),
 Row(ID='680231065'),

In [35]:
test123 = test123.rdd.repartition(8)