In [1]:
import cassandra

In [7]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['localhost'])
    session = cluster.connect()
except Exception as e: 
    print(e)

In [9]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [22]:
try:
    query = session.execute('select * from music_library')
except Exception as e: 
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table music_library"

In [20]:
for row in query:
    print(row)

In [21]:
try:
    query = session.execute('DROP TABLE music_library')
except Exception as e: 
    print(e)

In [28]:
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text,album_name text, PRIMARY KEY (year, artist_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

query = "CREATE TABLE IF NOT EXISTS album_library "
query = query + "(year int, artist_name text,album_name text, PRIMARY KEY (artist_name, year))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [29]:
query = "INSERT INTO music_library (year, artist_name ,album_name)"
query = query + " VALUES(%s,%s,%s)"

query1 = "INSERT INTO album_library (artist_name, year,album_name)"
query1 = query1 + " VALUES(%s,%s,%s)"


try:
    session.execute(query,(1970,"The beatles","Let it be"))
except Exception as e: 
    print(e)

try:
    session.execute(query,(1965,"The beatles","Rubber soul"))
except Exception as e: 
    print(e)
    
try:
    session.execute(query,(1962,"The beatles","Let"))
except Exception as e: 
    print(e)
    
    
try:
    session.execute(query1,("The beatles", 1970,"Let it be"))
except Exception as e: 
    print(e)

try:
    session.execute(query1,("The beatles",1965, "Rubber soul"))
except Exception as e: 
    print(e)
    
try:
    session.execute(query1,("The beatles",1962,"Let"))
except Exception as e: 
    print(e)

In [31]:
try:
    query = session.execute("select * from music_library where year = 1970")
except Exception as e: 
    print(e)

In [32]:
for row in query:
    print(row)

Row(year=1970, artist_name='The beatles', album_name='Let it be')