In [3]:
import psycopg2 as py

In [4]:
try:
    conn = py.connect("dbname=udacity")
except py.Error as e:
    print("Error making the connection to the DB")
try:
    cur = conn.cursor()
except py.Error as e:
    print("Couldn't get a curser to the database")
    print(e)
conn.set_session(autocommit=True)

In [5]:
## 2NF 
try:
    cur.execute("DROP TABLE album_library;")
except py.Error as e: 
    print(e)
try:
      cur.execute("DROP TABLE song_library;")
except py.Error as e: 
    print(e)


try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library(album_id int, album_name varchar, artist_name varchar, \
               year int);")
except py.Error as e: 
    print(e)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library(song_id int, album_id int, song_name varchar);")
except py.Error as e: 
    print(e)

In [6]:
try:
    cur.execute("select * from album_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\n Table: song library \n")
try:
    cur.execute("select * from song_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("\n Table: song library \n")
try:
    cur.execute("select * from artist_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'rubber soul', 1, 1965)
(2, 'Let it be', 1, 1970)

 Table: song library

(1, 1, 'Michelle')
(2, 1, 'Think for yourself')
(3, 1, 'In my life')
(4, 2, 'Let it be')
(5, 2, 'Across the Universe')

 Table: song library

(1, 'The Beatles')

In [8]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_length(song_id int,song_length int);")
except py.Error as e: 
    print(e)

In [10]:
try:
    cur.execute("INSERT INTO song_length (song_id,  song_length) \
                VALUES(%s,%s)", \
               (1,163))
except py.Error as e: 
    print(e)

try:
    cur.execute("INSERT INTO song_length (song_id,  song_length) \
                VALUES(%s,%s)", \
               (2,137))
except py.Error as e: 
    print(e)

try:
    cur.execute("INSERT INTO song_length (song_id,  song_length) \
                VALUES(%s,%s)", \
               (3,145))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_length (song_id,  song_length) \
                VALUES(%s,%s)", \
               (4,240))
except py.Error as e: 
    print(e)
try:
    cur.execute("INSERT INTO song_length (song_id,  song_length) \
                VALUES(%s,%s)", \
               (5,227))
except py.Error as e: 
    print(e)

In [11]:
try:
    cur.execute("select * from song_length")
except py.Error as e: 
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

In [14]:

 

# TO-DO: Add all Create statements for all tables
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions2 (transaction_Id int, Customer_Name varchar , Cashier_Id int,Year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold( Album_Id int, Transaction_Id int, Album_Name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS employees ( Employee_Id int ,Employee_Name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS sales(Transaction_Id int, Amount_Spent int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

      
# TO-DO: Insert data into the tables    
    
    
    
try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Amanda", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Toby", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, "Max", 2, 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO  albums_sold  (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, "Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold  (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold  (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (3, 2, "My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold  (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (4, 3, "Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold  (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (5, 3, "Help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (1, "Sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (2, "Bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (1, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (2, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e) 

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (3, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [15]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: sales\n")
try: 
    cur.execute("SELECT * FROM sales;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees

(1, 'Sam')
(2, 'Bob')

Table: sales

(1, 40)
(2, 19)
(3, 45)