In [22]:
import psycopg2 as py

In [23]:
## Get the connection to the DB 

try:
    conn = py.connect("dbname=udacity")
except py.Error as e:
    print("Error making the connection to the DB")
try:
    cur = conn.cursor()
except py.Error as e:
    print("Couldn't get a curser to the database")
    print(e)
conn.set_session(autocommit=True)

try:
    cur.execute("DROP TABLE music_library")
except py.Error as e: 
    print(e)

In [25]:
## albumid albumname artistname year Listofsongs
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name,year,songs) \
                VALUES(%s,%s,%s,%s,%s)", \
               (1,"rubber soul", "The beatles",1965,["michelle","Think For Yourself","In my life"]))
except py.Error as e: 
    print(e)

try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name,year,songs) \
                VALUES(%s,%s,%s,%s,%s)", \
               (2,"Let it be", "The beatles",1970,["Let it be","Across the Universe"]))
except py.Error as e: 
    print(e)

In [24]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_id int, album_name varchar, artist_name varchar, \
               year int, songs text[] );")
except py.Error as e: 
    print(e)

In [26]:
try:
    cur.execute("select * from music_library")
except py.Error as e: 
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'rubber soul', 'The beatles', 1965, ['michelle', 'Think For Yourself', 'In my life'])
(2, 'Let it be', 'The beatles', 1970, ['Let it be', 'Across the Universe'])

In [29]:
## Normalize using first Normal Form 
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2 (album_id int, album_name varchar, artist_name varchar, \
               year int, song_name varchar);")
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name,year,song_name) \
                VALUES(%s,%s,%s,%s,%s)", \
               (1,"rubber soul", "The beatles",1965,"michelle"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name,year,song_name) \
                VALUES(%s,%s,%s,%s,%s)", \
               (1,"rubber soul", "The beatles",1965,"Think For Yourself"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name,year,song_name) \
                VALUES(%s,%s,%s,%s,%s)", \
               (1,"rubber soul", "The beatles",1965,"In my life"))
except py.Error as e: 
    print(e)

In [30]:
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name,year,song_name) \
                VALUES(%s,%s,%s,%s,%s)", \
               (2,"Let it be", "The beatles",1970, "Let it be"))
except py.Error as e: 
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name,year,song_name) \
                VALUES(%s,%s,%s,%s,%s)", \
               (2,"Let it be", "The beatles",1970, "Across the Universe"))
except py.Error as e: 
    print(e)

In [31]:
try:
    cur.execute("select * from music_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'rubber soul', 'The beatles', 1965, 'michelle')
(1, 'rubber soul', 'The beatles', 1965, 'Think For Yourself')
(1, 'rubber soul', 'The beatles', 1965, 'In my life')
(2, 'Let it be', 'The beatles', 1970, 'Let it be')
(2, 'Let it be', 'The beatles', 1970, 'Across the Universe')

In [40]:
## 2NF 
try:
    cur.execute("DROP TABLE album_library;")
except py.Error as e: 
    print(e)
try:
      cur.execute("DROP TABLE song_library;")
except py.Error as e: 
    print(e)


try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library(album_id int, album_name varchar, artist_name varchar, \
               year int);")
except py.Error as e: 
    print(e)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library(song_id int, album_id int, song_name varchar);")
except py.Error as e: 
    print(e)

In [41]:
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name,year) \
                VALUES(%s,%s,%s,%s)", \
               (2,"Let it be", "The beatles",1970))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name,year) \
                VALUES(%s,%s,%s,%s)", \
               (1,"rubber soul", "The beatles",1965))
except py.Error as e: 
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (1,1, "Michelle"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (2,1, "Think for yourself"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (3,1, "In my life"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (4,2, "Let it be"))
except py.Error as e: 
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (5,2, "Across the Universe"))
except py.Error as e: 
    print(e)

In [42]:
try:
    cur.execute("select * from album_library")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\n Table: song library \n")
try:
    cur.execute("select * from song_library")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(2, 'Let it be', 'The beatles', 1970)
(1, 'rubber soul', 'The beatles', 1965)

 Table: song library

(1, 1, 'Michelle')
(2, 1, 'Think for yourself')
(3, 1, 'In my life')
(4, 2, 'Let it be')
(5, 2, 'Across the Universe')

In [58]:
try:
    cur.execute("DROP TABLE album_library2;")
except py.Error as e: 
    print(e)
    
try:
    cur.execute("DROP TABLE song_library2;")
except py.Error as e: 
    print(e)   
    
try:
    cur.execute("DROP TABLE artist_library2;")
except py.Error as e: 
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library2(album_id int,  album_name varchar,  \
               artist_id int, year int);")
except py.Error as e: 
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library2(song_id int, album_id int, song_name varchar);")
except py.Error as e: 
    print(e)   
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library2(artist_id int, artist_name varchar);")
except py.Error as e: 
    print(e)

In [59]:

    
try:
    cur.execute("INSERT INTO album_library2 (album_id, album_name, artist_id, year) \
                VALUES(%s,%s,%s,%s)", \
               (1,"rubber soul", 1,1965))
except py.Error as e: 
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (1,1, "Michelle"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (2,1, "Think for yourself"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (3,1, "In my life"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (4,2, "Let it be"))
except py.Error as e: 
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
                VALUES(%s,%s,%s)", \
               (5,2, "Across the Universe"))
except py.Error as e: 
    print(e)
    
try:
    cur.execute("INSERT INTO artist_library2 (artist_id  , artist_name  ) \
                VALUES(%s,%s)", \
               (1,"The Beatles"))
except py.Error as e: 
    print(e)

In [60]:
try:
    cur.execute("INSERT INTO album_library2 (album_id, album_name,artist_id, year) \
                VALUES(%s,%s,%s,%s)", \
               (2,"Let it be",1,1970))
except py.Error as e: 
    print(e)

In [61]:
try:
    cur.execute("select * from album_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\n Table: song library \n")
try:
    cur.execute("select * from song_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("\n Table: song library \n")
try:
    cur.execute("select * from artist_library2")
except py.Error as e: 
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'rubber soul', 1, 1965)
(2, 'Let it be', 1, 1970)

 Table: song library

(1, 1, 'Michelle')
(2, 1, 'Think for yourself')
(3, 1, 'In my life')
(4, 2, 'Let it be')
(5, 2, 'Across the Universe')

 Table: song library

(1, 'The Beatles')

In [64]:

conn.shutdown()

AttributeError: 'psycopg2.extensions.connection' object has no attribute 'shutdown'