In [3]:
import psycopg2 as pg

In [9]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=udacity")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

In [11]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store (transaction_id int, customer_name varchar, cashier_name varchar, \
               year int, albums_purchased text[])")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id  , customer_name  , cashier_name  , \
               year  , albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1,"Amanda","sam",2000,["rubber soul","let it be"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id  , customer_name  , cashier_name  , year  , albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2,"Toby","sam",2000,["My generation"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id  , customer_name  , cashier_name  , year  , albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3,"Max","Bob",2018,["Meet the Beatles","Help!"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
    
try: 
    cur.execute("SELECT * FROM music_store;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'sam', 2000, ['rubber soul', 'let it be'])
(2, 'Toby', 'sam', 2000, ['My generation'])
(3, 'Max', 'Bob', 2018, ['Meet the Beatles', 'Help!'])

In [12]:
 
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (transaction_id  int, customer_name varchar, cashier_name varchar  , year int , albums varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id  , customer_name  , cashier_name  , year  , albums) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, "Amanda", "sam", 2000, "rubber soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id  , customer_name  , cashier_name  , year  , albums) \
                 VALUES (%s, %s, %s, %s, %s)",(1, "Amanda", "sam", 2000, "let it be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id  , customer_name  , cashier_name  , year  , albums) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, "Toby", "sam", 2000,  "My generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id  , customer_name  , cashier_name  , year  , albums) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, "Max", "Bob", 2018,  "Meet the Beatles" ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id  , customer_name  , cashier_name  , year  , albums) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, "Max", "Bob", 2018,  "Help!" ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'sam', 2000, 'rubber soul')
(1, 'Amanda', 'sam', 2000, 'let it be')
(2, 'Toby', 'sam', 2000, 'My generation')
(3, 'Max', 'Bob', 2018, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 'Help!')

In [13]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions (transaction_id int , customer_name varchar  , cashier_name varchar  , year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (album_id int, transaction_id int , albums varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (transaction_id  , customer_name  , cashier_name  , year ) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Amanda", "sam", 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions (transaction_id  , customer_name  , cashier_name  , year ) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Toby", "sam", 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (transaction_id  , customer_name  , cashier_name  , year ) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, "Max", "Bob", 2018,))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id,transaction_id, albums) \
                 VALUES (%s, %s, %s)", \
                 (1,1,"rubber soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (album_id,transaction_id, albums) \
                 VALUES (%s, %s, %s)", \
                 (2,1,"let it be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id,transaction_id, albums) \
                 VALUES (%s, %s, %s)", \
                 ( 3,2,"My generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id,transaction_id, albums) \
                 VALUES (%s, %s, %s)", \
                 ( 4,3,"Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (album_id,transaction_id, albums) \
                 VALUES (%s, %s, %s)", \
                 ( 5,3,"Help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

print("Table: transactions\n")
try: 
    cur.execute("SELECT * FROM transactions;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Error: Issue creating table
table "transactions" does not exist

Error: Issue creating table
table "albums_sold" does not exist

Table: transactions

(1, 'Amanda', 'sam', 2000)
(2, 'Toby', 'sam', 2000)
(3, 'Max', 'Bob', 2018)

Table: albums_sold

(1, 1, 'rubber soul')
(2, 1, 'let it be')
(3, 2, 'My generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

In [14]:
!pwd

/Users/RahulReddy/Desktop/DEND/Project02.Cloud Data Warehouse